extends layout

block content
    div(class='game-container-container')
        div(class='game-sidebar-wrapper')
            div(class='game-sidebar-categories')
                ul(class='game-sidebar-categories-ul' id="")
                    label(class="game-sidebar-categories-label") Categories
                    a(href='/categories/1')
                        button(class="game-sidebar-button") Action Adventure
                    a(href='/categories/2')
                        button(class="game-sidebar-button") RPG
                    a(href='/categories/3')
                        button(class="game-sidebar-button") MMO
                    a(href='/categories/4')
                        button(class="game-sidebar-button") Horror
                    a(href='/categories/5')
                        button(class="game-sidebar-button") Sport/Sim
                    a(href='/categories/6')
                        button(class="game-sidebar-button") Strategy/RTS
                    a(href='/categories/7')
                        button(class="game-sidebar-button") Casual Sandbox
            div(class='game-sidebar-gameshelf-wrapper')
                div
                    label(class="game-sidebar-gameshelf-label") GameShelf
                div
                    button(class="game-sidebar-gameshelf-button") +
        div(class='game-container-wrapper')
            each game in games
                div(class='game-container-list-div game-container-list-div-hover')
                    img(class='game-container-img' src= game.url, alt= `${game.title}`)
                    div(class='game-text-container')
                        div(class='game-container-game-title')= `${game.title}`
                        form(action=`/games/${game.id}` method="get")
                        button(class="game-info-button" type="submit") Learn More
