doctype html
html
  head
      block head
        title="GGames"
        link(rel='stylesheet' href='/stylesheets/reset.css')
        link(rel="stylesheet", href="/stylesheets/navbar.css")
        link(rel="stylesheet", href="/stylesheets/game-info.css")
        link(rel="stylesheet" href="/stylesheets/gamepage.css")
        script(type='module' src='/javascripts/modal.js')
  body
    .header
        .emptyDiv
        .logoContainer
            a(href='/categories/1')
              img(class="ggLogo" src="https://drive.google.com/uc?id=1kNYQyaTFr6Dohp5-3FVVTpm-fDy2b1Gs", alt="GGLogo")
              img(class="ggLogo-Hover" src="https://drive.google.com/uc?id=1-hq9JiM1OdRY7LPj0InyIUwCxRsBg16G", alt="GGLogo-Hover")
        .userLinks
          if user
            p.usernameText Hello, #{user.username}
            form(action="/users/logout" method="post")
              button(class="userNavButtons" type="submit") Logout
          else
            form(action="/users/login" method="get")
              button(class="userNavButtons" type="submit") Login
            form(action="/users/register" method="get")
              button(class="userNavButtons" type="submit") Register
    block content
