doctype html
html
  head
      block head
        title="GGames"
        link(rel='stylesheet' href='/stylesheets/index.css')
  body(class='splashPage')
    div(class='splashBtnsContainer')
      button(class='splashBtns') Login
      button(class='splashBtns') Signup
      button(class='splashBtns') See Games
    //- block content
