doctype html
html
  head
      block head
        title="GGames"
        link(rel='stylesheet' href='/stylesheets/reset.css')
  body
    button Login
    button Signup
    button See Games
    block content
