include utils.pug

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel='stylesheet' href='/stylesheets/login.css')
        title Login
    body(class="logInForm-body")
        div(class='logInForm')
            form(action="/users/login" method="post")
                +validationErrorSummary(errors)
                input(type="hidden" name="_csrf" value=csrfToken)
                lable(class="username-label") Username
                +field("", "username", "")
                lable(class="password-label") Password
                +field("","password", "", 'password')
                div(class="loginBtnContainer")
                    button(class="loginBtn" type="submit") Login
                div(class='cancelBtnContainer')
                    a(href="/")
                        button(class='cancelBtn' type="button") Cancel
