.game-info-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: .5px solid rgb(197, 197, 197);
    background-color: rgb(214, 214, 214);
    border-radius: 9px;
    width: 50vw;
}

.game-info-title-wrapper {
    display: inline-block;
}
.game-title {
    margin-top: 40px;
    display: inline-block;
}
.game-info-body {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.game-info-review-wrapper {
    border: .5px solid rgb(197, 197, 197);
    border-radius: 9px;
    padding: 10px;
    background-color: white;

}
.game-info-page {
    background-color: rgb(89,61,163);
}
.game-info-review-underline {
    border-bottom: .5px solid rgb(197, 197, 197);
}
.game-info-add-comment {
    display: inline-block;
    background-color: white;
    border-radius: 9px;
    margin-bottom: 10px;
    padding: 3px 8px 3px 8px;
}
.game-info-review-submit {
    display: block;
}
.game-info-review-textarea {
    margin-top: 10px;
}
.fontClass {
    font-family: "Roboto";
}
