@import url('https://fonts.googleapis.com/css2?family=Mr+Dafoe&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@900&display=swap');
h1 {
    position: relative;
    font-family: 'Exo';
    font-size: 9em;
    margin: 0;
    transform: skew(-15deg);
    letter-spacing: 0.03em;
}
    &::after {
      content: '';
      position: absolute;
      top: -0.1em;
      right: 0.05em;
      width: 0.4em;
      height: 0.4em;
      background:
        radial-gradient(white 3%, rgba(white, 0.3) 15%, rgba(white, 0.05) 60%, transparent 80%),
        radial-gradient(rgba(white, 0.2) 50%, transparent 60%) 50% 50% / 5% 100%,
        radial-gradient(rgba(white, 0.2) 50%, transparent 60%) 50% 50% / 70% 5%;
      background-repeat: no-repeat;
    }

    span:first-child {
      display: block;
      text-shadow: 0 0 0.1em #8ba2d0, 0 0 0.2em black,  0 0 5em #165ff3;
      -webkit-text-stroke: 0.06em rgba(black, 0.5);
    }

    span:last-child {
      position: absolute;
      left: 0;
      top: 0;
      background-image: linear-gradient(#032d50 25%, #00a1ef 35%, white 50%, #20125f 50%, #8313e7 55%, #ff61af 75%);
      -webkit-text-stroke: 0.01em #94a0b9;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

.game-info-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0.5px solid rgb(197, 197, 197);
  background-color: rgb(214, 214, 214);
  border-radius: 9px;
  width: 50vw;
  overflow: hidden;
}
.titleFont {
  font-weight: bold;
  font-size: 20px;
}
.game-info-title-wrapper {
  display: inline-block;
  background-color: white;
  border-radius: 10px;
  padding: 5px 30px 5px 30px;
  margin: 20px 0px 20px 0px;
}
.game-title {
  margin-top: 40px;
  display: inline-block;
}

.game-info-body {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.game-info-review-wrapper {
  border: 0.5px solid rgb(197, 197, 197);
  border-radius: 9px;
  padding: 10px;
  background-color: white;
  margin: 0px 20px 0px 20px;
}
.game-info-page {
  background-color: rgb(89, 61, 163);
}
.game-info-review-underline {
  border-bottom: 0.5px solid rgb(197, 197, 197);
}
.game-info-add-comment {
  display: inline-block;
  background-color: white;
  border-radius: 9px;
  margin-bottom: 10px;
  padding: 3px 8px 3px 8px;
}
.game-info-review-submit {
  display: block;
}
.game-info-review-textarea {
  margin: 0px 20px 10px 20px;
  border-radius: 10px;
  padding: 10px;
}
.fontClass {
  font-family: "Roboto", sans-serif;
  font-weight: 500;

}
.game-info-review-delete {
  margin-bottom: 10px;
}
.editDisplay {
  display: inline-block;
}

.game-info-review-submit {
  color: rgb(29, 13, 255) !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #03f810;
  padding: 20px;
  border-radius: 0px 0px 5px 5px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
}

.game-info-review-submit:hover {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #ed3330;
  padding: 20px;
  border-radius: 5px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
}

.game-info-review-delete {
  background-color: rgb(255, 157, 0);
  border-radius: 5px;
}

.game-info-review-edit {
  background-color: rgb(255, 238, 0);
  border-radius: 5px;
}

.review-form-wrapper > form {
  display: flex;
  flex-direction: column;
}

.gameshelf-no-login {
  color: yellow;
  font-size: 20px;
  font-weight: bold;
}

.game-info-text-wrapper {
  background-color: white;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  min-width: 300px;
  border-radius: 20px;
}

.game-info-p-wrapper {
  display: inline-block;
  /* background-color: white; */
  border-radius: 0px 0px 10px 10px;
  padding: 7px;
}
.game-info-dev-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  margin: 20px 300px 20px 300px;
  min-width: 350px;
}
.game-info-wrapper {
  min-width: 930px;
}
.fontClass {
  font-weight: bold;
}
.game-info-review-label {
  margin-left: 20px;
  padding: 10px
}
.buttonText {
  display: inline-block;
}
