.logInForm {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgba(137, 43, 226, 0.301);
}

form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-inline: 2%;
  margin-bottom: 10%;
}

.loginBtnContainer {
  display: flex;
  flex-direction: column;
  margin-inline: 38%;
  margin-top: 2%;
  margin-left: 15%;
  margin-bottom: 10%;
}
.cancelBtnContainer {
  display: flex;
  flex-direction: column;
  margin-inline: 27%;
  margin-top: 2%;
}
